@model IEnumerable<InstaScore.Models.photos>
@{
    ViewBag.Title = "Zarządzaj zdjęciami";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<section class="panel">
    <p>
        @Html.ActionLink("Panel admina", "Admin")
    </p>
    <ul id="photolist">
        @{
            foreach (var x in Model)
            {
                <li>
                    <a href="@x.photoURL" target="_blank"><img src="@x.photoURL" alt="@x.photoURL" width="100" height="100" /></a>
                    @{if (x.photoVisible)
                    {
                        <font size="3" color="green">Dostępne</font>
                    }
                    else
                    {
                        <font size="3" color="red">Nie dostępne</font>
                    }}
                    @* Dodaj przyciski make visible/not*@
                </li>
            }
        }
    </ul>
</section>
