@model IList<InstaScore.Models.photos>
@{
    ViewBag.Title = "Porównywarka";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.CompareMessage</h2>
</hgroup>

<div style="padding:10px;">
    @using (Html.BeginForm("Compare", "Home", FormMethod.Post, new { name = "comparephoto", id = "comparephoto" }))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                <div class="message-success">
                    <font size="3" color="#00BFFF">@ViewBag.ResultCMessage</font> 
                </div>
            </p>
            <p>
                <input type="image" src="@Model[0].photoURL" name="image" value="@Model[0].photoID" width="400" height="400">
                <input type="image" src="@Model[1].photoURL" name="image" value="@Model[1].photoID" width="400" height="400">
            </p>
            <p>
                <input name="ph1" type="hidden" value="@Model[0].photoID" />
                <input name="ph2" type="hidden" value="@Model[1].photoID" />
            </p>
        </fieldset>
    }
</div>


