@model IEnumerable<InstaScore.Models.photos>
@{
    ViewBag.Title = "Zdjęcia";
    var list = Model.ToList();
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.PhotoMessage</h3>
</hgroup>

<div style="padding:20px;">
    <p>O to kilka z nich:</p>
    @{
        for (int i = 0; i < 150; i++)
        {
            if (list[i].photoVisible)
            {
                <a href="@list[i].photoURL" target="_blank"><img src="@list[i].photoURL" alt="@list[i].photoURL" width="150" height="150" /></a>
            }
        }
    }
</div>
