@model IPagedList<InstaScore.Models.photos>
@{
    ViewBag.Title = "Zdjęcia";
    var list = Model.ToList();
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.PhotoMessage</h3>
</hgroup>

<div style="padding:20px;">

    @{
        if (list.Count() > 0)
        {
            <p>Dostępne zdjęcia w tym tygodniu:</p>
            foreach (var photo in Model)
            {
                if (photo.photoVisible)
                {
                    <a href="@photo.photoProfile" target="_blank"><img src="@photo.photoURL" alt="@photo.photoURL" style="width:15%; height:auto;" /></a>
                }
            }
                <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
			.DisplayTemplate("BootstrapPagination"))
    </div>
        }
        else
        {
            <p>Niestety nie ma aktualnie dostępnych zdjęć.</p>
        }
    }
</div>
