@model InstaScore.Models.LocalPasswordModel

<p>
    Nie masz jeszcze ustawionego hasła. 
    Dodaj hasło i adres mail byś mógł korzystać z serwisu bez użycia zewnętrznego logowania.
</p>

@using (Html.BeginForm("Manage", "Account")) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Item1.NewPassword)
                @Html.PasswordFor(m => m.Item1.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Item1.ConfirmPassword)
                @Html.PasswordFor(m => m.Item1.ConfirmPassword)
            </li>

        </ol>
        <input type="submit" value="Zmień dane" />
    </fieldset>
}
