@model InstaScore.Models.MailModel

<p>
    Ustaw lub zmień Twój adres mailowy.
</p>

@using (Html.BeginForm("MailChange", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Email Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewEmail)
                @Html.TextBoxFor(m => m.NewEmail)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmEmail)
                @Html.TextBoxFor(m => m.ConfirmEmail)
            </li>
        </ol>
        <input type="submit" value="Ustaw email" />
    </fieldset>
}
