@model InstaScore.Models.LocalPasswordModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Jesetś zalogowany jako <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
@{
    //Jeśli zewnętrzne logowanie z twittera i nie ma hasła to daj ustawianie maila - inaczej nie rób nic
    //@Html.Partial("_SetEmailPartial")
}
   

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Dodaj zewnętrzne logowanie</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
